name: .NET MAUI Build

on:
  push:
    branches:
      - master
      - main
    paths:
      - 'src/AliceNovel/**'
      - '.github/workflows/**'
  pull_request:
    branches:
      - master
      - main
    paths:
      - 'src/AliceNovel/**'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ (contains(matrix.tfm, 'maccatalyst') && 'macos-latest') || 'windows-latest' }}
    strategy:
      matrix:
        tfm: [net10.0-android, net10.0-ios, net10.0-maccatalyst, net10.0-windows10.0.19041.0]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      # currently, macos-latest (macos-26) is not include xcode 26.1. Please show below link.
      # https://github.com/actions/runner-images/blob/74a06c36b6baa8acb1072fb933f4776b4898164d/images/macos/macos-26-arm64-Readme.md#xcode
      - if: matrix.tfm == 'net10.0-maccatalyst'
        name: Setup Xcode latest
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.1.1' # including beta version

      - name: Install MAUI Workloads
        run: |
          dotnet workload install android --ignore-failed-sources
          dotnet workload install maui --ignore-failed-sources

      - name: Restore Dependencies
        run: dotnet restore src/AliceNovel/AliceNovel.csproj

      - name: Build MAUI App
        run: dotnet build src/AliceNovel/AliceNovel.csproj -c Release -f ${{ matrix.tfm }} --no-restore -p:PublishReadyToRun=false

      # Upload Artifact
      - if: matrix.tfm == 'net10.0-android'
        name: Android Artifact
        uses: actions/upload-artifact@v5
        with:
          name: android-ci-build
          path: src/AliceNovel/bin/Release/net10.0-android/*Signed.a*

      - if: matrix.tfm == 'net10.0-ios'
        name: iOS Artifact
        uses: actions/upload-artifact@v5
        with:
          name: ios-ci-build
          path: src/AliceNovel/bin/Release/net10.0-ios/**/*.app/

      - if: matrix.tfm == 'net10.0-maccatalyst'
        name: MacCatalyst Artifact
        uses: actions/upload-artifact@v5
        with:
          name: macos-ci-build
          path: src/AliceNovel/bin/Release/net10.0-maccatalyst/**/*.app/

      - if: matrix.tfm == 'net10.0-windows10.0.19041.0'
        name: Windows Artifact
        uses: actions/upload-artifact@v5
        with:
          name: windows-ci-build
          path: src/AliceNovel/bin/Release/net10.0-windows*/**/

      - name: Full Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: full-ci-build-${{ matrix.tfm }}
          path: src/AliceNovel/bin/Release/${{ matrix.tfm }}*/
