name: .NET MAUI Build

on:
  push:
    branches:
      - master
      - main
    paths:
      - 'src/AliceNovel/**'
      - '.github/workflows/**'
  pull_request:
    branches:
      - master
      - main
    paths:
      - 'src/AliceNovel/**'
      - '.github/workflows/**'

jobs:
  build:
    runs-on: ${{ (contains(matrix.tfm, 'maccatalyst') && 'macos-latest') || 'windows-latest' }}
    strategy:
      matrix:
        tfm: [net9.0-android, net9.0-ios, net9.0-maccatalyst, net9.0-windows10.0.19041.0]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      # currently, macos-latest (macos-15) is not include xcode 16.2. Please show below link.
      # https://github.com/actions/runner-images/blob/2c013247b1be5aaefb18a96fb0aed6e8d8fca8a2/images/macos/macos-15-Readme.md#xcode
      - if: matrix.tfm == 'net9.0-maccatalyst'
        name: Setup Xcode latest
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.2 # including beta version

      - name: Install MAUI Workloads
        run: |
          dotnet workload install android --ignore-failed-sources
          dotnet workload install maui --ignore-failed-sources

      - name: Restore Dependencies
        run: dotnet restore src/AliceNovel/AliceNovel.csproj

      - name: Build MAUI App
        run: dotnet build src/AliceNovel/AliceNovel.csproj -c Release -f ${{ matrix.tfm }} --no-restore -p:PublishReadyToRun=false -p:WindowsPackageType=None

      # Upload Artifact
      - if: matrix.tfm == 'net9.0-android'
        name: Android Artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-ci-build
          path: src/AliceNovel/bin/Release/net9.0-android/*Signed.a*

      - if: matrix.tfm == 'net9.0-ios'
        name: iOS Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-ci-build
          path: src/AliceNovel/bin/Release/net9.0-ios/**/*.app/

      - if: matrix.tfm == 'net9.0-maccatalyst'
        name: MacCatalyst Artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-ci-build
          path: src/AliceNovel/bin/Release/net9.0-maccatalyst/**/*.app/

      - if: matrix.tfm == 'net9.0-windows10.0.19041.0'
        name: Windows Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-ci-build
          path: src/AliceNovel/bin/Release/net9.0-windows*/**/

      - name: Full Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: full-ci-build-${{ matrix.tfm }}
          path: src/AliceNovel/bin/Release/${{ matrix.tfm }}*/
